<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>

<body>
    {{#each sections}}
    <img src="{{image}}" alt="{{title}}">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    {{/each}}

</body>

</html>